<% provide(:title, @user.name) %>
<% provide(:whoops, 'http://cs316217.vk.me/v316217806/aa37/Kuxwj03ZIIA.jpg') %>
<div class = "row">
	<asside class = "span">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</asside>
</div>

<%= render 'layouts/custom' %>